body{
    background-color: #f0eef6;
}
main{
    margin: 150px 30px;
    background-color: white;
    border-radius: 10px;
    padding: 0 20px;
}
main h1{
    text-align: center;
}
@media only screen and (min-width: 1024px){
    .about-instakilogram{  
        width: 100%;  
        height: auto;
        margin: 20px 0;
    }


    .about-instakilogram h1{ 
        text-align: center;
        color: black;
        font-size: 32px;
        position: relative;
        margin-bottom: 8px;
        padding-bottom: 12px;
    }

    .about-instakilogram h1::after{
        position: absolute;
        content: '';
        width: 50px;
        height: 3px;
        left: calc(50% - 30px);
        bottom: 0;
        background: red;
    }

    .about-instakilogram p{     
        padding: 20px 30px;
        color: black;        
        font-size: 16px;
        line-height: 50px;
        text-align: justify;
    }
    .developers-container h2{ 
        text-align: center;
        color: black;
        font-size: 32px;
        position: relative;
        margin-bottom: 8px;
        padding-bottom: 12px;
    }
    .developers-container h2::after{
        position: absolute;
        content: '';
        width: 50px;
        height: 3px;
        left: calc(50% - 30px);
        bottom: 0;
        background: red;
    }

    .developer{
        display: flex;
        margin: 30px;
        background: #153577;
        padding: 20px;
        color: white;
        font-size: 20px;
        transform: translateX(-200%);
        transition: all 1s;
        border-radius: 10px;
    }

    .developer .avatar{
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .developer .avatar img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        padding: 20px;
    }

    .developer:nth-child(even) .avatar button{
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 30px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        background-color: red;
        cursor: pointer;
    }

    .developer:nth-child(odd) .avatar button{
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 30px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        background-color: #153577;
        cursor: pointer;
    }

    .developer .info{
        width: 100%;
        height: auto;
        padding-left: 50px;
    }

    .developer .info h1{
        font-size: 32px;
        text-align: left;
    }
    .developer .info ul li{
        line-height: 50px;
        font-size: 16px;
    }

    .developer .info p{
        font-size: 16px;
        line-height: 50px;
        font-style: italic;
    }

    .developer:nth-child(odd){       
        background-color: red;
    }
    .about-instakilogram .edit-button{
        width: 100%;
        padding: 20px 30px;
        display: flex;
        justify-content: flex-end;
    }

    .about-instakilogram .edit-button button{
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 30px;
        background-color: #153577;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        cursor: pointer;
    }


    .developer .edit-button{
        width: 100%;
        padding: 20px 30px;
        display: flex;
        justify-content: flex-end;
    }
    .developer .edit-button:nth-child(even) button{       
        background-color: #153577;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 30px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        cursor: pointer;
    }

    .developer:nth-child(even) .edit-button button{       
        background-color: red;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 30px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        cursor: pointer;
    }
    .developer:nth-child(odd) .edit-button button{       
        background-color: #153577;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 30px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        cursor: pointer;
    }

    .developer .edit-button button:active, .about-instakilogram .edit-button button:active, .developer:nth-child(odd) .avatar button:active, .developer:nth-child(even) .avatar button:active{
        opacity: 0.5;
    }

}

@media only screen and (max-width: 767px){
    .about-instakilogram{     
        height: auto;
        text-align: center;
        margin-top: 100px;
    }

    .about-instakilogram svg{
        padding: 20px 0;
    }

    .about-instakilogram h1{ 
        text-align: center;
        color: black;
        font-size: 32px;
        position: relative;
        margin-bottom: 8px;
        padding-bottom: 12px;
    }

    .about-instakilogram h1::after{
        position: absolute;
        content: '';
        width: 50px;
        height: 3px;
        left: calc(50% - 30px);
        bottom: 0;
        background: red;
    }

    .about-instakilogram p{     
        color: black;
        font-size: 16px;
        text-align: justify;
        padding: 10px 30px 30px 30px;
        line-height: 30px;
    }
    
    .developers-container h2{ 
        text-align: center;
        color: black;
        font-size: 32px;
        position: relative;
        margin-bottom: 8px;
        padding-bottom: 12px;
    }
    .developers-container h2::after{
        position: absolute;
        content: '';
        width: 50px;
        height: 3px;
        left: calc(50% - 30px);
        bottom: 0;
        background: red;
    }

    .developer{
        display: flex;
        display: block;
        margin: 30px 0;
        background: #153577;
        padding: 30px 0;
        color: white;
        transform: translateX(-200%);
        transition: all 1s;
    }

    .developer .avatar{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .developer .avatar img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        padding: 20px;
    }

    .developer:nth-child(even) .avatar button{
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 30px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        background-color: red;
        cursor: pointer;
    }

    .developer:nth-child(odd) .avatar button{
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 30px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        background-color: #153577;
        cursor: pointer;
    }

    .developer .info{
        width: 100%;
        height: auto;
        padding: 20px 50px;
    }

    .developer .info h1{
        text-align: center;
        padding: 20px 0;
        font-size: 32px;
    }
    .developer .info ul li{
        line-height: 30px;
        font-size: 16px;
    }

    .developer .info p{
        line-height: 30px;
        font-size: 16px;
        font-style: italic;
    }

    .developer:nth-child(odd){       
        background-color: red;
    }
    .about-instakilogram .edit-button{
        width: 100%;
        padding: 20px 30px;
        display: flex;
        justify-content: flex-end;
    }

    .about-instakilogram .edit-button button{
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 30px;
        background-color: #153577;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        cursor: pointer;
    }

    .developer .edit-button{
        width: 100%;
        padding: 20px 30px;
        display: flex;
        justify-content: flex-end;
    }
    .developer .edit-button:nth-child(even) button{       
        background-color: #153577;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 30px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        cursor:pointer;
    }

    .developer:nth-child(even) .edit-button button{       
        background-color: red;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 30px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        cursor: pointer;
    }
    .developer:nth-child(odd) .edit-button button{       
        background-color: #153577;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 30px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        cursor: pointer;
    }
    .developer .edit-button button:active, .about-instakilogram .edit-button button:active, .developer:nth-child(odd) .avatar button:active, .developer:nth-child(even) .avatar button:active{
        opacity: 0.5;
    }
}

@media only screen and (min-width:768px) and (max-width: 1023px){
    .about-instakilogram{     
        height: auto;
        padding: 20px; 
        text-align: center;
        margin-top: 70px;
    }   
    .about-instakilogram h1{ 
        text-align: center;
        color: black;
        font-size: 32px;
        position: relative;
        margin-bottom: 8px;
        padding-bottom: 12px;
    }
    .about-instakilogram p{     
        color: black;
        font-size: 16px;  
        text-align: justify;
        line-height: 50px;
        padding: 20px 0;
    }
    .about-instakilogram h1::after{
        position: absolute;
        content: '';
        width: 50px;
        height: 3px;
        left: calc(50% - 30px);
        bottom: 0;
        background: red;
    }
    .developers-container{
        margin: 30px 0;
    }

    .developers-container h2{ 
        text-align: center;
        color: black;
        font-size: 32px;
        position: relative;
        margin-bottom: 8px;
        padding-bottom: 12px;
    }
    .developers-container h2::after{
        position: absolute;
        content: '';
        width: 50px;
        height: 3px;
        left: calc(50% - 30px);
        bottom: 0;
        background: red;
    }

    .developer{
        display: flex;
        margin: 30px 0;
        background: #153577;
        color: white;
        transform: translateX(-200%);
        transition: all 1s;
    }

    .developer .avatar{
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .developer .avatar img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        padding: 20px;
    }

    .developer:nth-child(even) .avatar button{
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 30px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        background-color: red;
        cursor: pointer;
    }

    .developer:nth-child(odd) .avatar button{
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 30px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        background-color: #153577;
        cursor: pointer;
    }

    .developer .info{
        width: 100%;
        height: auto;
        padding: 20px 0 20px 50px;
    }

    .developer .info h1{
        text-align: left;
        padding: 10px 0;
        font-size: 32px;
    }

    .developer .info ul li{
        line-height: 30px;
        font-size: 16px;
    }

    .developer .info p{
        line-height: 30px;
        font-size: 16px;
        font-style: italic;
    }

    .developer:nth-child(odd){       
        background-color: red;
    }
    .about-instakilogram .edit-button{
        width: 100%;
        padding: 20px 30px;
        display: flex;
        justify-content: flex-end;
    }

    .about-instakilogram .edit-button button{
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 30px;
        background-color: #153577;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        cursor: pointer;
    }

    .developer .edit-button{
        width: 100%;
        padding: 20px 30px;
        display: flex;
        justify-content: flex-end;
    }
    .developer .edit-button:nth-child(even) button{       
        background-color: #153577;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 30px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        cursor: pointer;
    }

    .developer:nth-child(even) .edit-button button{       
        background-color: red;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 30px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        cursor: pointer;
    }
    .developer:nth-child(odd) .edit-button button{       
        background-color: #153577;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 30px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        cursor: pointer;
    }
    .developer .edit-button button:active, .about-instakilogram .edit-button button:active, .developer:nth-child(odd) .avatar button:active, .developer:nth-child(even) .avatar button:active{
        opacity: 0.5;
    }
}