@media only screen and (min-width: 1024px){
    .main-container{
        display: flex;
        height: 100vh;
    }
    .main-container .board-container{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-around;
    }

    .main-container .board-container .board, .main-container .board-container .board{
        width: 300px;
        height: 150px;
        margin: 50px 0;
        display: flex;
        align-items: center;
        background-color: #153577;
        color: white;
        cursor: pointer;
    }

    .main-container .board-container .board:hover, .main-container .board-container .board:hover{
        transform: scale(1.2);
        transition-duration: 0.5s;
    }
    .main-container .board-container i{
        font-size: 32px;
        cursor: pointer;
    }

    .main-container .board-container .board:last-child{
        background-color: red;
    }
    .main-container .board-container .board div, .main-container .board-container .board div{
        width: 100%;
        text-align: center;
    }

    .main-container .board-container h1 {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .main-container .table-container{
        width: 90%;
        height: auto;
    }

    .main-container .table-container .accounts{
        width: 90%;
        margin: 50px;
    }

    .accounts .title, .accounts .data{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .accounts th{
        font-size: 20px;
    }

    .accounts th:nth-child(odd){
        width: 100%;
        border: 1px solid black;
    }
    .accounts th:nth-child(even){
        width: 100%;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .main-container tbody{
        width: 100%;
    }
    .accounts td{
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    .accounts td:nth-child(odd){
        width: 100%;
        border: 1px solid black;
        border-top: none;
    }
    .accounts td:nth-child(even){
        width: 100%;
        border-bottom: 1px solid black;
    }
}

@media only screen and (max-width: 767px){
    .main-container{
        width: 100%;
        height: 100vh;
    }
    .main-container .board-container{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .main-container .board-container .board, .main-container .board-container .board{
        width: 400px;
        height: 200px;
        margin: 50px 0;
        display: flex;
        align-items: center;
        background-color: #153577;
        color: white;
        cursor: pointer;
    }

    .main-container .board-container .board:last-child{
        background-color: red;
    }
    .main-container .board-container .board:active, .main-container .board-container .board:active{
        transform: scale(1.2);
        transition-duration: 0.5s;
    }
    .main-container .board-container i{
        font-size: 32px;
        cursor: pointer;
    }
    .main-container .board-container .board div, .main-container .board-container .board div{
        width: 100%;
        text-align: center;
    }

    .main-container .board-container h1 {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .main-container .table-container{
        width: 90%;
        height: auto;
        margin-top: 100px;
    }

    .main-container .table-container .accounts{
        width: 90%;
        margin: 50px;
        
    }

    .accounts .title, .accounts .data{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .accounts th{
        font-size: 20px;
    }

    .accounts th:nth-child(odd){
        width: 100%;
        border: 1px solid black;
    }
    .accounts th:nth-child(even){
        width: 100%;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .main-container tbody{
        width: 100%;
    }
    .accounts td{
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    .accounts td:nth-child(odd){
        width: 100%;
        border: 1px solid black;
        border-top: none;
    }
    .accounts td:nth-child(even){
        width: 100%;
        border-bottom: 1px solid black;
    }
}

@media only screen and (min-width:768px) and (max-width: 1023px){
    .main-container{
        width: 100%;
        height: 100vh;
    }
    .main-container .board-container{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .main-container .board-container .board, .main-container .board-container .board{
        width: 400px;
        height: 200px;
        margin: 50px 0;
        display: flex;
        align-items: center;
        background-color: #153577;
        color: white;
        cursor: pointer;
    }

    .main-container .board-container .board:last-child{
        background-color: red;
    }

    .main-container .board-container .board:active, .main-container .board-container .board:active{
        transform: scale(1.2);
        transition-duration: 0.5s;
    }
    .main-container .board-container i{
        font-size: 32px;
        cursor: pointer;
    }
    .main-container .board-container .board div, .main-container .board-container .board div{
        width: 100%;
        text-align: center;
    }

    .main-container .board-container h1 {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    
    .main-container .table-container{
        width: 90%;
        height: auto;
        margin-top: 100px;
    }

    .main-container .table-container .accounts{
        width: 90%;
        margin: 50px;
        
    }

    .accounts .title, .accounts .data{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .accounts th{
        font-size: 20px;
    }

    .accounts th:nth-child(odd){
        width: 100%;
        border: 1px solid black;
    }
    .accounts th:nth-child(even){
        width: 100%;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .main-container tbody{
        width: 100%;
    }
    .accounts td{
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    .accounts td:nth-child(odd){
        width: 100%;
        border: 1px solid black;
        border-top: none;
    }
    .accounts td:nth-child(even){
        width: 100%;
        border-bottom: 1px solid black;
    }
}