*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#error-message, #message{
    color: red;
}
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #153577;

}

form{
    width: 50%;
    height: auto;
    padding: 0 20px;
    background-color: white;
    border: none;
    border-radius: 10px;
}

form main{
    border-bottom: 1px solid silver;
}
.log-in-header h1{
    font-family: 'Slackey', cursive;
    font-size: 36px;
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
    background: -webkit-linear-gradient(#FF0000, #0000FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    word-wrap: break-word;
    border-bottom: 1px solid silver;
}

.form-content{
    margin: 10px 0;
}

.username{
    margin: 20px 0;
}

#email, #password{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid silver;
}

.log-in-submit{
    margin: 20px 0;
    width: 100%;
    height: 40px;
    background-color: #153577;
    color: white;
    font-weight: 500;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.log-in-footer{
    margin: 20px 0;
}

.log-in-footer .backBtn{
    width: 100%;
    height: 40px;
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: 500;   
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.log-in-submit:hover, .log-in-footer .backBtn:hover{
    opacity: 0.7;
    transition-duration: 0.5s;
}