*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 1024px){
    .copyright-privacy{
        color: white;
        width: 100%;
        position: fixed;
        bottom: 0;
    }

    .copyright-privacy nav{
        background-color: #0b1f45;
        border-top: 1px white solid;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .copyright-privacy h3{
        font-weight: 200;
        font-size: 12px;
        width: 100%;
        padding: 0 10px;
    }

    .copyright-privacy h3:last-child{
        text-align: right;
    }

    .copyright-privacy ul{
        width: 100%;
        display: flex;

    }

    .copyright-privacy ul li{
        width: 100%;
        list-style: none;
        text-align: center;
    }

    .copyright-privacy ul li a{
        font-size: 12px;
        color: white;
        text-decoration: none ;
    }

    .copyright-privacy ul li a:hover{
        color: red;
        transition-duration: 0.5s;
    }

    .content{
        margin: 20px 30px;
        padding: 10px;
        line-height: 50px;
        text-align: justify;
        width: 100%;
    }
    .content .edit-button{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
    }
    .content .edit-button button{
        background-color: #153577;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 30px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        cursor: pointer;
    }
    .content .edit-button button:active{
        opacity: 0.5;
    }
}

@media only screen and (max-width: 767px){
    .copyright-privacy{
        color: white;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 10;
    }

    .copyright-privacy nav{
        background-color: #0b1f45;
        border-top: 1px white solid;
        display: flex;
        align-items: baseline;
        justify-content: center;
    }

    .copyright-privacy h3{
        font-weight: 200;
        font-size: 8px;
        width: 100%;
        padding: 0 10px;
    }

    .copyright-privacy h3:last-child{
        text-align: right;
    }

    .copyright-privacy ul{
        display: flex;
        width: 100%;
    }

    .copyright-privacy ul li{
        width: 100%;
        list-style: none;
        padding: 0 10px;
        text-align: center;
    }

    .copyright-privacy ul li a{
        width: 100%;
        height: auto;
        font-size: 8px;
        color: white;
        text-decoration: none ;
    }

    .copyright-privacy ul li a:hover{
        color: red;
        transition-duration: 0.5s;
    }

    .content{
        margin: 60px 30px 20px 30px;
        padding: 10px;
        line-height: 50px;
        text-align: justify;
    }
    .content .edit-button{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
    }
    .content .edit-button button{
        background-color: #153577;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 30px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        cursor: pointer;
    }
    .content .edit-button button:active{
        opacity: 0.5;
    }
}

@media only screen and (min-width:768px) and (max-width: 1023px){
    .copyright-privacy{
        color: white;
        width: 100%;  
        position: fixed;
        bottom: 0;
        z-index: 10;
    }

    .copyright-privacy nav{
        background-color: #0b1f45;
        border-top: 1px white solid;
        display: flex;
        align-items: baseline;
        justify-content: center;
        
    }

    .copyright-privacy h3{
        font-weight: 200;
        font-size: 8px;
        width: 100%;
        padding: 0 10px;
    }

    .copyright-privacy h3:last-child{
        text-align: right;
    }

    .copyright-privacy ul{
        display: flex;
        width: 100%;
    }

    .copyright-privacy ul li{
        width: 100%;
        list-style: none;
        text-align: center;
    }

    .copyright-privacy ul li a{
        width: 100%;
        height: auto;
        font-size: 8px;
        color: white;
        text-decoration: none ;
    }

    .copyright-privacy ul li a:hover{
        color: red;
        transition-duration: 0.5s;
    }

    .content{
        margin: 60px 30px 20px 30px;
        padding: 10px;
        line-height: 50px;
        text-align: justify;
        width: 100%;
    }
    .content .edit-button{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
    }
    .content .edit-button button{
        background-color: #153577;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 30px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        cursor: pointer;
    }
    .content .edit-button button:active{
        opacity: 0.5;
    }
}