*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background: #f0eef6;

}

@media only screen and (min-width: 1024px){
    .copyright-privacy{
        color: white;
        width: 100%;
        position: fixed;
        bottom: 0;
        height: 50px;
    }

    .copyright-privacy nav{
        background-color: #0b1f45;
        border-top: 1px white solid;
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
    }

    .copyright-privacy h3{
        font-weight: 200;
        font-size: 16px;
        width: 100%;
        padding: 0 10px;
    }

    .copyright-privacy h3:last-child{
        width: 60%;
    }

    .copyright-privacy h3:last-child{
        text-align: right;
    }

    .copyright-privacy ul{
        width: 100%;
        display: flex;

    }

    .copyright-privacy ul li{
        width: 100%;
        list-style: none;
        text-align: center;
    }

    .copyright-privacy ul li a{
        font-size: 16px;
        color: white;
        text-decoration: none ;
    }

    .copyright-privacy ul li a:hover{
        color: red;
        transition-duration: 0.5s;
    }

    .content{
        margin: 100px auto;
        padding: 10px;
        line-height: 50px;
        text-align: justify;
        width: 90%;
        background: white;
        border-radius: 10px;
        box-shadow: 0 0 10px #e6e7e8;

    }
    .content .edit-button{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
    }
    .content .edit-button button{
        background-color: #153577;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 30px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        cursor: pointer;
    }
    .content .edit-button button:active{
        opacity: 0.5;
    }
    ul{
        list-style: none;
    }
}

@media only screen and (max-width: 767px){
    .copyright-privacy{
        color: white;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 10;
        height: 50px;
    }

    .copyright-privacy nav{
        background-color: #0b1f45;
        border-top: 1px white solid;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
    }

    .copyright-privacy h3{
        font-weight: 200;
        font-size: 12px;
        width: 100%;
        padding: 0 10px;
    }

    .copyright-privacy h3:last-child{
        text-align: right;
        width: 60%;
    }

    .copyright-privacy ul{
        display: flex;
        width: 100%;
    }

    .copyright-privacy ul li{
        width: 100%;
        list-style: none;
        padding: 0 10px;
        text-align: center;
    }

    .copyright-privacy ul li a{
        width: 100%;
        height: auto;
        font-size: 12px;
        color: white;
        text-decoration: none ;
    }

    .copyright-privacy ul li a:hover{
        color: red;
        transition-duration: 0.5s;
    }

    .copyright-privacy ul li a i {
        font-size: 12px;
    }

    .copyright-privacy ul li a i:hover {
        color: red;
        transition: all 0.5s ease;
    }
    .content{
        margin: 100px auto;
        padding: 10px;
        line-height: 50px;
        text-align: justify;
        width: 90%;
        background: white;
        border-radius: 10px;
        box-shadow: 0 0 10px #e6e7e8;
    }
    .content .edit-button{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
    }
    .content .edit-button button{
        background-color: #153577;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 30px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        cursor: pointer;
    }
    .content .edit-button button:active{
        opacity: 0.5;
    }
    ul{
        list-style: none;
    }
}

@media only screen and (min-width:768px) and (max-width: 1023px){
    .copyright-privacy{
        color: white;
        width: 100%;  
        position: fixed;
        bottom: 0;
        z-index: 10;
        height: 50px;
    }

    .copyright-privacy nav{
        background-color: #0b1f45;
        border-top: 1px white solid;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
    }

    .copyright-privacy h3{
        font-weight: 200;
        font-size: 12px;
        width: 100%;
        padding: 0 10px;
    }

    .copyright-privacy h3:last-child{
        text-align: right;
        width: 60%;
    }

    .copyright-privacy ul{
        display: flex;
        width: 100%;
    }

    .copyright-privacy ul li{
        width: 100%;
        list-style: none;
        text-align: center;
    }

    .copyright-privacy ul li a{
        width: 100%;
        height: auto;
        font-size: 12px;
        color: white;
        text-decoration: none ;
    }

    .copyright-privacy ul li a:hover{
        color: red;
        transition-duration: 0.5s;
    }

    .copyright-privacy ul li a i{
        font-size: 12px;
    }

    .copyright-privacy ul li a i:hover{
        color: red;
    }
    .content{
        margin: 150px auto;
        padding: 10px;
        line-height: 50px;
        text-align: justify;
        width: 90%;
        background: white;
        border-radius: 10px;
        box-shadow: 0 0 10px #e6e7e8;
    }
    .content .edit-button{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
    }
    .content .edit-button button{
        background-color: #153577;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 30px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        cursor: pointer;
    }
    .content .edit-button button:active{
        opacity: 0.5;
    } 
    ul{
        list-style: none;
    }
}