
body {font-family: Palatino Linotype, Book Antiqua, Palatino, serif;}

.inputbox {
 margin: 0 auto;
  width: 300px;
  padding: 10px;

}

.logo h1
{margin: 100px 0px 0px 5px;
font-family: 'Slackey', cursive;
font-size: 50px;
font-style: normal;
font-variant: normal;
font-weight: 100;
line-height: 53.9px;text-align:
center;background: -webkit-linear-gradient(#FF0000, #0000FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
padding 10px;}

.inputbox1 {
 margin: 0 auto;
  width: 400px;
  padding: 16px;

}


.inputbox1 {
  display:block;}

    .greeting h1
{text-align: center;
  font-family: Damion;
  font-size: 50px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 700;
  line-height: auto;
  background: -webkit-linear-gradient(#FF0000, #0000FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;}

  .greeting p{
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  text-align: center;
  font-size: 25px;
  padding:5px;

  }
  .greeting{
  padding:10px;
  width: auto;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.loginbtn {
  background-color: #0000FF;
  border-radius: 12px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
   font-family: Poppins;
  font-size: 15px ;
}

.loginbtn:hover {
  opacity: 0.8;
}

.regisbtn {
  background-color: #FF0000;
  border-radius: 12px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: Poppins;
  font-size: 15px ;
}

.regisbtn:hover {
  opacity: 0.8;
}


.cancelbtn {
  width: auto;
  border-radius: 12px;
  padding: 10px 20px;
  background-color: #f44336;
   font-family: Poppins;
  font-size: 15px ;
}



.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;


}

.modal-content animate
{ margin: 0 auto;
  width: 200px;
  padding: 20px;
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto 15% auto;
  border: 1px solid #888;
   border-style: dashed;
   border-radius: 20px;
  width: 80%;
  background-image: linear-gradient(to top right, #ffb3b3, #e9e8e0);
}


.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}


.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}


@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
