
body {font-family: "Poppins", sans-serif;
    background: hwb(252deg 93% 3%);}

.inputbox label{
	font-weight: bold;
}
.inputbox {
 margin: 0 auto;
  width: 300px;
  padding: 10px;

}

.logo h1
{margin: 100px 0px 0px 5px;
font-family: 'Slackey', cursive;
font-size: 40px;
font-style: normal;
font-variant: normal;
font-weight: 100;
line-height: 53.9px;text-align:
center;background: -webkit-linear-gradient(#FF0000, #0000FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
padding: 10px;}

.inputbox1 {
margin: 0 auto;
width: 400px;
padding: 16px;

}

.inputbox {
  font-family: 'Poppins', sans-serif;
	margin: 0 auto;
  width: 300px;
  padding: 10px;
  color: black;
  border-radius: 50px;

}


.inputbox1 {
  display:block;}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
	border-radius: 50px;

}

.loginbtn {
  background-color: #0000FF;
  border-radius: 12px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 15px ;
	font-family: "Poppins", sans-serif;
	border-radius: 50px;
}

.loginbtn:hover {
  opacity: 0.8;
}

.regisbtn {
  background-color: #FF0000;
  border-radius: 12px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 15px ;
	border-radius: 50px;
}

.regisbtn:hover {
  opacity: 0.8;
}
