*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: auto;
  background: #f0eef6;
 
}

.user-profile-container{
  width: 90%;
  height: 70vh;
  display: flex;
  align-items: center;
  margin: 130px auto 0 auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px #e6e7e8;
}

.user-image{
  width: 100%;
  text-align: center;

}

.user-image img{
  width: 300px;
  height: 300px;
  margin: 20px 0;
  border-radius: 50%;
}

.user-image label{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
  background-color: #153577;
  color: white;
  border-radius: 5px;
}

.user-image label:hover{
  opacity: 0.7;
  transition: all .3s ease;
}

.user-image .save-button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
  background-color: #153577;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}

.user-image .save-button:hover{
  opacity: 0.7;
  transition: all .3s ease;
}
#photo{
  display: none;
}
.user-info{
  width: 100%;
  text-align: left;
  padding: 30px;
}

.user-info ul{
  list-style: none;
}

.user-info ul li{
  line-height: 50px;
}

.user-info ul li span{
  font-weight: bold;
}
.user-info .info{
  margin: 10px 0;
}
.logout{
  display: inline-flex;
  justify-content: right;
  width: 100%;
  align-items: center;
  
}

.logout a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  text-decoration: none;
  background-color: #ff0000;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

.logout a:hover{
  opacity: 0.7;
  transition: all .3s ease;
}

@media only screen and (max-width: 767px){
  .user-profile-container{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px #e6e7e8;
  }
}