.display
{
  padding: 200px 0;
text-align: center;
}
.logout button
{  position: fixed;
     bottom: 10px;
     right: 10px;
  background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
}
.user-profile-image
{
  postition: absolute;
  left:auto;
  width:100px;
  height: 120px;
  text-align: center;
}
.user-name
{
  font-family:"Poppins";
  text-align: center;
  font-size: 20px;
  padding:5px;
}
.user-data
{
  font-family:"Poppins";
  text-align: center;
  font-size: 20px;
  padding:5px;
}

#profile{
padding:16px;}
#profile label, #profile input[type="submit"] {

 display:block;
 width:100px;
 height:50px;
 margin: 0 auto;
 line-height:50px;
 text-align:center;

 font-size:12px;
 text-transform:Uppercase;
 font-weight:600;
 border-radius:50px;
 cursor:pointer;
}

#profile input[type="submit"]
{

  background:#FF0000;
  color:#fff;
  border-style:none;

}
#profile label
{
background:#0000FF;
color:#fff;
}
#profile input[type="file"] {
 margin-left: 5px;
 margin-right: auto;
 width: 8em;
 display:none;
 margin-top: 5px;

         }
#profile
{
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

#profile label
{
  margin-right: 5px;
}

#profile input[type="submit"]
{
  margin-left: 5px;
}
#image-status
{
  text-align: center;
  font-size: 16px;
  padding: 5px;
  font-family: "Poppins";
}

.user-data-content
{
  background-color: #fefefe;
  margin: 10% auto 15% auto;
  border: 1px solid #888;
   border-style: dashed;
   border-radius: 20px;
  width: 80%;
}

.container
{
  text-align:center;
}
