*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 125vh;
    background: hwb(252deg 93% 3%);
}
/*uyen*/
.clear-button {
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  background-color: #FF0000;
  font-family: 'Poppins', sans-serif;
  font-size: 15px ;
}

.register-button
{
  background-color: #0000FF;
  border-radius: 50px;
  color: white;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px ;
}

.image label {

 display:block;
 width:130px;
 height:50px;
 margin: 0 auto;
 line-height:50px;
 text-align:center;
 background:#1172c2;
 color:#fff;
 font-size:13px;
 text-transform:Uppercase;
 font-weight:600;
 border-radius:2rem;
 cursor:pointer;
}
input[type="file"] {
  margin-left: auto;
  margin-right: auto;
  width: 3em;
 display:none;
 margin-top: 5px;
}

input[type=text], input[type=password], input[type=email]{
  width: 50%;
  padding: 12px 20px;
  margin:10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
}

#preview_img
{
  margin:10px 0;
}

.name-info{
  display: flex;
	/* flex-direction: row; */
  justify-content: space-between;

}
.form-content label
{
  font-weight: bold;
}
/*end*/
#invalid-format{

  color: red;
}

@media only screen and (min-width: 1024px){
    form{
        width: 500px;
        height: auto;
        border: 1px solid black;
        padding: 0 20px;
    }

    .form-title h1{
        font-family: 'Slackey', cursive;
        font-size: 40px;
        text-align: center;
        margin: 20px 0;
        background: -webkit-linear-gradient(#FF0000, #0000FF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .form-content{
        margin: 10px 0;
    }

    .form-content div{
        margin: 10px 0;
    }

    .form-content input{
        width: 100%;
        height: 40px;
        margin: 10px 0;
        padding: 0 10px;
        outline: none;
        background: none;
        border: 1px solid black;
    }

    .image{
        text-align: center;
    }
    .image img{
      width: 140px;
      height: 140px;

    }

    .image input{
        border: none;
        width: 100%;
        height: 50px;
        outline: none;
    }
    .image input::file-selector-button{
        background: none;
        width: 100px;
        height: 40px;
        font-weight: 500;
        color: black;
        outline: none;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        border: 1px solid black;

    }

    .form-content .form-button{
        display: flex;
        width: 100%;
        height: 40px;
        justify-content: space-between;
    }


    .form-content .form-button button{
        width: 45%;
        outline: none;
        border: none;
    }


    .form-content span{
        position: absolute;
        font-size: 16px;
        color: red;
        padding: 0 10px;
    }

    .form-content span i{
        color: seagreen;
    }

    #invalid-form{
        position: relative;
        padding: 0;
        color: red;
    }

    .form-footer p{
        margin: 10px 0;
    }

    .first-name, .last-name{
      width: 45%;
      margin: 0 10px;
    }
}

@media only screen and (max-width: 767px){
        form{
        width: 500px;
        height: auto;
        border: 1px solid black;
        padding: 0 20px;
    }

    .form-title h1{
        font-family: 'Slackey', cursive;
        font-size: 36px;
        text-align: center;
        margin: 20px 0;
        background: -webkit-linear-gradient(#FF0000, #0000FF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .form-content{
        margin: 10px 0;
    }

    .form-content div{
        margin: 20px 0;
    }

    .form-content input{
        width: 100%;
        height: 40px;
        margin: 10px 0;
        padding: 0 10px;
        outline: none;
        background: none;
        border: 1px solid black;
    }

    .image{
        text-align: center;
    }
    .image img{
        width: 100px;
        height: 100px;
    }

    .image input{
        border: none;
        width: 100%;
        height: 50px;
        outline: none;
    }
    .image input::file-selector-button{
        background: none;
        width: 100px;
        height: 40px;
        font-weight: 500;
        color: black;
        outline: none;
        font-family: 'Open Sans', sans-serif;
        border: 1px solid black;
    }

    .form-content .form-button{
        display: flex;
        width: 100%;
        height: 40px;
        justify-content: space-between;
    }


    .form-content .form-button button{
        width: 45%;
    }


    .form-content span{
        position: absolute;
        font-size: 16px;
        color: red;
        padding: 0 10px;
    }

    .form-content span i{
        color: seagreen;
    }

    #invalid-form{
        position: relative;
        padding: 0;
    }

    .form-footer p{
        margin: 10px 0;
    }


}

@media only screen and (min-width:768px) and (max-width: 1023px){
    form{
        width: 500px;
        height: auto;
        border: 1px solid black;
        padding: 0 20px;
    }

    .form-title h1{
        font-family: 'Slackey', cursive;
        font-size: 36px;
        text-align: center;
        margin: 20px 0;
        background: -webkit-linear-gradient(#FF0000, #0000FF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .form-content{
        margin: 10px 0;
    }

    .form-content div{
        margin: 20px 0;
    }

    .form-content input{
        width: 100%;
        height: 40px;
        margin: 10px 0;
        padding: 0 10px;
        outline: none;
        background: none;
        border: 1px solid black;
    }

    .image{
        text-align: center;
    }
    .image img{
        width: 100px;
        height: 100px;
    }

    .image input{
        border: none;
        width: 100%;
        height: 50px;
        outline: none;
    }
    .image input::file-selector-button{
        background: none;
        width: 100px;
        height: 40px;
        font-weight: 500;
        color: black;
        outline: none;
        font-family: 'Open Sans', sans-serif;
        border: 1px solid black;
    }

    .form-content .form-button{
        display: flex;
        width: 100%;
        height: 40px;
        justify-content: space-between;
    }


    .form-content .form-button button{
        width: 45%;
    }


    .form-content span{
        position: absolute;
        font-size: 16px;
        color: red;
        padding: 0 10px;
    }

    .form-content span i{
        color: seagreen;
    }

    #invalid-form{
        position: relative;
        padding: 0;
    }

    .form-footer p{
        margin: 10px 0;
    }

}
