*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background: #f0eef6;
}
/*uyen*/
.clear-button {
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  background-color: #FF0000;
  font-family: 'Poppins', sans-serif;
  font-size: 15px ;
}

.register-button
{
  background-color: #153577;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px ;
}

.image label {
    display:block;
    width:100px;
    height:40px;
    margin: 0 auto;
    line-height:40px;
    text-align:center;
    background:#153577;
    color:#fff;
    font-size:12px;
    font-weight:600;
    border-radius: 5px;
    cursor:pointer;
}

input[type="file"] {
  margin-left: auto;
  margin-right: auto;
  width: 3em;
  display:none;
  margin-top: 5px;
}

input[type=text], input[type=password], input[type=email]{
  width: 50%;
  padding: 12px 20px;
  margin:10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#preview_img{
  margin:10px 0;
}

.name-info{
  display: flex;
  justify-content: space-between;

}
.form-content label{
  font-weight: bold;
}
/*end*/

#invalid-format{

  color: red;
}

.form-footer a{
    color: blue;
}

form{
    width: 50%;
    height: auto;
    padding: 0 20px;
    background-color: white;
    box-shadow: 0 0 10px 10px #e6e7e8;
    border-radius: 5px;
    margin: 15px 0;
}

.form-title{
    border-bottom: 1px solid silver;
}
.form-title h1{
    font-family: 'Slackey', cursive;
    font-size: 32px;
    text-align: center;
    margin: 10px 0;
    background: -webkit-linear-gradient(#FF0000, #0000FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    word-wrap: break-word;
}

.form-content{
    margin: 10px 0;
}

.form-content div{
    margin: 10px 0;
}

.form-content input{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    outline: none;
    background: none;
}

.image{
    text-align: center;
}
.image img{
  width: 140px;
  height: 140px;

}

.image input{
    border: none;
    width: 100%;
    height: 50px;
    outline: none;
}
.image input::file-selector-button{
    background: none;
    width: 100px;
    height: 40px;
    font-weight: 500;
    color: black;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: 1px solid black;

}

.form-content .form-button{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
}


.form-content .form-button button{
    width: 45%;
    outline: none;
    border: none;
    cursor: pointer;
}

.form-content .form-button button:hover{
    opacity: 0.7;
    transition-duration: 0.5s;
}
.form-content span{
    position: absolute;
    font-size: 16px;
    color: red;
    padding: 0 10px;
}

.form-content span i{
    color: seagreen;
}

#invalid-form{
    position: relative;
    padding: 0;
    color: red;
}

.form-footer p{
    margin: 10px 0;
}

.first-name, .last-name{
  width: 45%;
  margin: 0 10px;
}