*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 200vh;
}

@media only screen and (min-width: 1024px){
    form{
        width: 500px;
        height: auto;
        border: 1px solid black;
        padding: 0 20px;
    }

    .form-title h1{
        font-family: 'Slackey', cursive;
        font-size: 36px;
        text-align: center;
        margin: 20px 0;
        background: -webkit-linear-gradient(#FF0000, #0000FF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .form-content{
        margin: 10px 0;
    }

    .form-content div{
        margin: 20px 0;
    }

    .form-content input{
        width: 100%;
        height: 40px;
        margin: 10px 0;
        padding: 0 10px;
        outline: none;
        background: none;
        border: 1px solid black;
    }

    .image{
        text-align: center;
    }
    .image img{
        width: 100px;
        height: 100px;
    }

    .image input{
        border: none;
        width: 100%;
        height: 50px;
        outline: none;
    }
    .image input::file-selector-button{
        background: none;
        width: 100px;
        height: 40px;
        font-weight: 500;
        color: black;
        outline: none;
        font-family: 'Open Sans', sans-serif;
        border: 1px solid black;
    }

    .form-content .form-button{
        display: flex;
        width: 100%;
        height: 40px;
        justify-content: space-between;
    }
    

    .form-content .form-button button{
        width: 45%;
    }
    

    .form-content span{
        position: absolute;
        font-size: 16px;
        color: red;
        padding: 0 10px;
    }

    .form-content span i{
        color: seagreen;
    }

    #invalid-form{
        position: relative;
        padding: 0;
    }

    .form-footer p{
        margin: 10px 0;
    }
    
}

@media only screen and (max-width: 767px){
        form{
        width: 500px;
        height: auto;
        border: 1px solid black;
        padding: 0 20px;
    }

    .form-title h1{
        font-family: 'Slackey', cursive;
        font-size: 36px;
        text-align: center;
        margin: 20px 0;
        background: -webkit-linear-gradient(#FF0000, #0000FF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .form-content{
        margin: 10px 0;
    }

    .form-content div{
        margin: 20px 0;
    }

    .form-content input{
        width: 100%;
        height: 40px;
        margin: 10px 0;
        padding: 0 10px;
        outline: none;
        background: none;
        border: 1px solid black;
    }
    
    .image{
        text-align: center;
    }
    .image img{
        width: 100px;
        height: 100px;
    }

    .image input{
        border: none;
        width: 100%;
        height: 50px;
        outline: none;
    }
    .image input::file-selector-button{
        background: none;
        width: 100px;
        height: 40px;
        font-weight: 500;
        color: black;
        outline: none;
        font-family: 'Open Sans', sans-serif;
        border: 1px solid black;
    }

    .form-content .form-button{
        display: flex;
        width: 100%;
        height: 40px;
        justify-content: space-between;
    }
    

    .form-content .form-button button{
        width: 45%;
    }
    

    .form-content span{
        position: absolute;
        font-size: 16px;
        color: red;
        padding: 0 10px;
    }

    .form-content span i{
        color: seagreen;
    }

    #invalid-form{
        position: relative;
        padding: 0;
    }

    .form-footer p{
        margin: 10px 0;
    }
    
}

@media only screen and (min-width:768px) and (max-width: 1023px){
    form{
        width: 500px;
        height: auto;
        border: 1px solid black;
        padding: 0 20px;
    }

    .form-title h1{
        font-family: 'Slackey', cursive;
        font-size: 36px;
        text-align: center;
        margin: 20px 0;
        background: -webkit-linear-gradient(#FF0000, #0000FF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .form-content{
        margin: 10px 0;
    }

    .form-content div{
        margin: 20px 0;
    }

    .form-content input{
        width: 100%;
        height: 40px;
        margin: 10px 0;
        padding: 0 10px;
        outline: none;
        background: none;
        border: 1px solid black;
    }
    
    .image{
        text-align: center;
    }
    .image img{
        width: 100px;
        height: 100px;
    }

    .image input{
        border: none;
        width: 100%;
        height: 50px;
        outline: none;
    }
    .image input::file-selector-button{
        background: none;
        width: 100px;
        height: 40px;
        font-weight: 500;
        color: black;
        outline: none;
        font-family: 'Open Sans', sans-serif;
        border: 1px solid black;
    }

    .form-content .form-button{
        display: flex;
        width: 100%;
        height: 40px;
        justify-content: space-between;
    }
    

    .form-content .form-button button{
        width: 45%;
    }
    

    .form-content span{
        position: absolute;
        font-size: 16px;
        color: red;
        padding: 0 10px;
    }

    .form-content span i{
        color: seagreen;
    }

    #invalid-form{
        position: relative;
        padding: 0;
    }

    .form-footer p{
        margin: 10px 0;
    }
    
}