*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 1024px){
    .main-content{
        display: flex;
        margin: 150px 30px 0 30px;
        height: 70vh;
        align-items: center;
        border-radius: 10px;
        border: 1px solid black;
    }

    .user-image, .user-info{
        width: 100%;
        height: 50vh;
    }

    .user-image{
        text-align: center;
    }

    .user-image img{
        width: 300px;
        height: 300px;
        margin: 20px auto;
        border-radius: 50%;
    }

    .user-image .upload-button{
        margin: 0 auto;
        width: 150px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: #153577;
        border-radius: 30px;
        cursor: pointer;
    }

    .user-image .upload-button label{
        cursor: pointer;
        color: white;
        font-size: 16px;
        font-weight: 400;
    }
    #photo{
        display: none;
    }

    .user-info ul{
        margin: 10px 0;
        list-style: none;
    }

    .user-info ul li{
        line-height: 70px;
    }

    .user-info .reset-password{
        width: 150px;
        height: 50px;
        /* float: right; */
        margin-right: 20px;
        background: none;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: #ff0000;
        color: white;
        font-weight: 400;
        font-size: 16px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 767px){
    .main-content{
        /* margin-top:  60px; */
        display: flex;
        margin: 150px 30px 0 30px;
        height: 70vh;
        align-items: center;
        border-radius: 10px;
        border: 1px solid black;
    }

    .user-image, .user-info{
        width: 100%;
        height: 50vh;
    }

    .user-image{
        text-align: center;
    }

    .user-image img{
        width: 200px;
        height: 200px;
        margin: 20px auto;
        border-radius: 50%;
    }

    .user-image .upload-button{
        margin: 0 auto;
        width: 150px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: #153577;
        border-radius: 30px;
        cursor: pointer;
    }

    .user-image .upload-button label{
        cursor: pointer;
        color: white;
        font-size: 16px;
        font-weight: 400;
    }
    #photo{
        display: none;
    }

    .user-info ul{
        margin: 10px 0;
        list-style: none;
    }

    .user-info ul li{
        line-height: 80px;
    }

    .user-info .logout{
        width: 150px;
        height: 50px;
        float: right;
        margin-right: 20px;
        background: none;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: #ff0000;
        color: white;
        font-weight: 400;
        font-size: 16px;
        cursor: pointer;
    }
}

@media only screen and (min-width:768px) and (max-width: 1023px){
    .main-content{
        display: flex;
        margin: 100px 30px 0 30px;
        height: 70vh;
        align-items: center;
        border-radius: 10px;
        border: 1px solid black;
    }

    .user-image, .user-info{
        width: 100%;
        height: 50vh;
    }

    .user-image{
        text-align: center;
    }

    .user-image img{
        width: 300px;
        height: 300px;
        margin: 20px auto;
    }

    .user-image .upload-button{
        margin: 0 auto;
        width: 150px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: #153577;
        border-radius: 30px;
        cursor: pointer;
    }

    .user-image .upload-button label{
        cursor: pointer;
        color: white;
        font-size: 16px;
        font-weight: 400;
    }
    #photo{
        display: none;
    }

    .user-info ul{
        margin: 10px 0;
        list-style: none;
    }

    .user-info ul li{
        line-height: 70px;
    }

    .user-info .logout{
        width: 150px;
        height: 50px;
        float: right;
        margin-right: 20px;
        background: none;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: #ff0000;
        color: white;
        font-weight: 400;
        font-size: 16px;
        cursor: pointer;
    }
}