*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 1024px){
    nav{
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #153577;
        height: auto;
        box-shadow: 0px 5px 15px -6px gray;
    }

    .logo{
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .logo svg{
        padding: 10px 10px;
        width: 200px;
    }

    .logo h1{
        padding-left: 10px;
        color: white;
        display: block;
        text-align: right;
        border-left: 1px solid white;
    }

    .search-bar{
        width: 100%;
        margin: 0 20px;
        display: flex;
        border-radius: 10px;
        border: 1px solid white;
        background: white;
    }

    .search-bar .search-box{
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 10px;
        outline: none;
        padding: 0 10px;
        font-family: 'Poppins', sans-serif;
        background: none;
        font-size: 18px;
    }

    .search-bar a{
        color: black;
        font-size: 18px;
        width: 30px;
        height: 50px;
        display: flex;
        justify-content: left;
        align-items: center;
        text-decoration: none;
    }

    .login{
        width: 20vw;
        margin-right: 30px;
        border: 1px solid red;
        border-radius: 30px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: red;
    }

    .login a{
        color: white;
        text-decoration: none;
        font-weight: 400;
    }

    .login:hover{
        opacity: 0.8;
        transition-duration: 0.5s;
    }
    #phone-menu{
        display: none;
    }

    .phone-btn{
        display: none;
    }
    
    .copyright-privacy{
        color: white;
        width: 100%;
    }

    .copyright-privacy nav{
        background-color: #0b1f45;
        border-top: 1px white solid;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .copyright-privacy h3{
        font-weight: 200;
        font-size: 12px;
        width: 100%;
        padding: 0 10px;
    }

    .copyright-privacy h3:last-child{
        text-align: right;
    }

    .copyright-privacy ul{
        width: 100%;
        display: flex;

    }

    .copyright-privacy ul li{
        width: 100%;
        list-style: none;
        text-align: center;
    }

    .copyright-privacy ul li a{
        font-size: 12px;
        color: white;
        text-decoration: none ;
    }

    .copyright-privacy ul li a:hover{
        color: red;
        transition-duration: 0.5s;
    }

}

@media only screen and (max-width: 767px){
    header nav{
        position: fixed;
        width: 100%;
        background-color: #153577;
        height: auto;
        box-shadow: 0px 5px 15px -6px gray;
        display: flex;
        top: 0;
        z-index: 10;
    }
    
    #menu{
        display: none;
    }

    #phone-menu{
        width: 100%;
        height: auto;
        display: flex;
    }

    .login{
        display: none;
    }
    
    .search-bar{
        display: none;
    }

    .logo {
        display: flex;
        cursor: pointer;
        align-items: center;
        width: 100%;
    }

    .logo svg{
        padding: 10px 10px;
        width: 150px;
        height: 60px;
        cursor: pointer;
    }

    .logo h1{
        color: white;
        width: 100%;
        font-size: 14px;
        text-align: left;
        padding-left: 10px;
        border-left: 1px solid white;
    }

    i{
        font-size: 18px;
        color: white;
        padding: 0 10px;
    }  

    .close-button{
        display: block;
        text-align: right;
        padding-top: 20px;
        cursor: pointer;
    }

    .close-button i{
        font-size: 24px;
    }

    #phone-menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 60px;
        left: 0;
        background-color: #0b1f45;
        transition: all .5s;
        transform: translateX(100%);
        opacity: 0;
        z-index: 10;
    }

 
    #phone-menu ul{
        width: 100%;
        height: 300vh;
        list-style: none;
        margin: 0 30px;
    }

    #phone-menu ul li{
        text-align: center;
        margin: 10px 0;
        padding: 10px 0;
    }

    #phone-menu ul li a{
        display: block;
        line-height: 50px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.91);
        text-decoration: none;
        color: white;
        font-size: 18px;
        text-transform: uppercase;
    }
    
    #phone-menu ul li a:active{
        color: red;
        transition-duration: 0.5s;
    }

    .phone-btn{
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: right;
        /* margin-right: 10px; */
    }

    .phone-btn i{
        font-size: 24px;
        line-height: 30px;
        cursor: pointer;
        color: white;
    }
    .phone-btn i:nth-child(1){
        padding: 0;
    }

    #phone-menu .manage{
        display: block;
    }

    #phone-menu .search-bar{
        width: 100%;
        display: flex;
        border-radius: 50px;
        border: 1px solid white;
        background: white;
        margin: 20px 0;
    }

    #phone-menu .search-bar .search-box{
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 10px;
        outline: none;
        padding-left: 20px;
        font-family: 'Poppins', sans-serif;
        background: none;
        font-size: 18px;
    }

    #phone-menu .search-bar a{
        font-size: 18px;
        width: 30px;
        height: 50px;
        display: flex;
        justify-content: left;
        align-items: center;
        text-decoration: none;
        margin-right: 10px;
    }

    #phone-menu .search-bar i{
        color: black;
        
    }

    .copyright-privacy{
        color: white;
        width: 100%;
    }

    .copyright-privacy nav{
        background-color: #0b1f45;
        border-top: 1px white solid;
        display: flex;
        align-items: baseline;
        justify-content: center;
        
    }

    .copyright-privacy h3{
        font-weight: 200;
        font-size: 6px;
        width: 100%;
        padding: 0 10px;
    }

    .copyright-privacy h3:last-child{
        text-align: right;
    }

    .copyright-privacy ul{
        display: flex;
        width: 100%;
    }

    .copyright-privacy ul li{
        width: 100%;
        list-style: none;
        padding: 0 10px;
        text-align: center;
    }

    .copyright-privacy ul li a{
        width: 100%;
        height: auto;
        font-size: 6px;
        color: white;
        text-decoration: none ;
    }

    .copyright-privacy ul li a:hover{
        color: red;
        transition-duration: 0.5s;
    }
}

@media only screen and (min-width:768px) and (max-width: 1023px){
    nav{
        width: 100%;
        background-color: #153577;
        height: auto;
        box-shadow: 0px 5px 15px -6px gray;
        display: inline-flex;
    }
    
    #menu{
        display: none;
    }

    #phone-menu{
        width: 100%;
        height: auto;
        display: flex;
    }

    .login{
        display: none;
    }
    
    .search-bar{
        display: none;
    }
    .logo {
        display: flex;
        cursor: pointer;
        align-items: center;
        width: 100%;
    }

    .logo svg{
        padding: 10px 10px;
        width: 150px;
        height: 60px;
        cursor: pointer;
    }

    .logo h1{
        color: white;
        width: 100%;
        font-size: 24px;
        text-align: center;
    }

    i{
        font-size: 18px;
        color: white;
        padding: 0 10px;
    }  

    .close-button{
        display: block;
        text-align: right;
        padding: 20px 20px 0 20px;
        cursor: pointer;
    }

    .close-button i{
        font-size: 30px;
    }

    #phone-menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 60px;
        left: 0;
        background-color: #0b1f45;
        transition: all .5s;
        transform: translateX(100%);
        opacity: 0;
    }

 
    #phone-menu ul{
        width: 100%;
        height: 300vh;
        list-style: none;
        margin: 0 30px;
    }

    #phone-menu ul li{
        text-align: center;
        margin: 10px 0;
        padding: 10px 0;
    }

    #phone-menu ul li a{
        display: block;
        line-height: 50px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.91);
        text-decoration: none;
        color: white;
        font-size: 18px;
        text-transform: uppercase;
    }
    
    #phone-menu ul li a:active{
        color: red;
        transition-duration: 0.5s;
    }

    .phone-btn{
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: right;
        margin-right: 10px;
        
    }

    .phone-btn i{
        font-size: 30px;
        line-height: 30px;
        cursor: pointer;
        color: white;
    }

    #phone-menu .manage{
        display: block;
    }

    #phone-menu .search-bar{
        width: 100%;
        /* margin: 0 10px; */
        display: flex;
        border-radius: 50px;
        border: 1px solid white;
        background: white;
        margin: 20px 0;
    }

    #phone-menu .search-bar .search-box{
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 10px;
        outline: none;
        padding-left: 20px;
        font-family: 'Poppins', sans-serif;
        background: none;
        font-size: 18px;
    }

    #phone-menu .search-bar a{
        font-size: 18px;
        width: 30px;
        height: 50px;
        display: flex;
        justify-content: left;
        align-items: center;
        text-decoration: none;
        margin-right: 10px;
    }

    #phone-menu .search-bar i{
        color: black;
        
    }

    .copyright-privacy{
        color: white;
        width: 100%;
    }

    .copyright-privacy nav{
        background-color: #0b1f45;
        border-top: 1px white solid;
        display: flex;
        align-items: baseline;
        justify-content: center;
    }

    .copyright-privacy h3{
        font-weight: 200;
        font-size: 6px;
        width: 100%;
        padding: 0 10px;
    }

    .copyright-privacy h3:last-child{
        text-align: right;
    }

    .copyright-privacy ul{
        display: flex;
        width: 100%;
    }

    .copyright-privacy ul li{
        width: 100%;
        list-style: none;
        text-align: center;
    }

    .copyright-privacy ul li a{
        width: 100%;
        height: auto;
        font-size: 6px;
        color: white;
        text-decoration: none ;
    }

    .copyright-privacy ul li a:hover{
        color: red;
        transition-duration: 0.5s;
    }
}