main{
    margin: 10px ;
}

main h1{
    text-align: center;
}
@media only screen and (min-width: 1024px){
    .developers-container h2{ 
        text-align: center;
        color: black;
        font-size: 40px;
        position: relative;
        margin-bottom: 8px;
        padding-bottom: 12px;
    }
    .developers-container h2::after{
        position: absolute;
        content: '';
        width: 50px;
        height: 3px;
        left: calc(50% - 30px);
        bottom: 0;
        background: red;
    }

    .developer{
        display: flex;
        margin: 30px;
        background: #153577;
        padding: 20px;
        color: white;
        font-size: 20px;
        transform: translateX(-200%);
        transition: all 1s;
    }

    .developer .avatar{
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .developer .avatar img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }

    .developer .info{
        width: 100%;
        height: auto;
        padding-left: 50px;
    }

    .developer .info h1{
        font-size: 30px;
        text-align: left;
    }
    .developer .info ul li{
        line-height: 50px;
    }

    .developer .info p{
        font-size: 18px;
        line-height: 50px;
        font-style: italic;
    }

    .developer:nth-child(odd){       
        background-color: red;
    }

    .about-instakilogram{  
        width: 100%;  
        height: auto;
        margin: 20px 0;
    }


    .about-instakilogram h1{ 
        text-align: center;
        color: black;
        font-size: 40px;
        position: relative;
        margin-bottom: 8px;
        padding-bottom: 12px;
    }

    .about-instakilogram h1::after{
        position: absolute;
        content: '';
        width: 50px;
        height: 3px;
        left: calc(50% - 30px);
        bottom: 0;
        background: red;
    }

    .about-instakilogram p{     
        padding: 20px 30px;
        color: black;        
        font-size: 24px;
        line-height: 50px;
        text-align: justify;
    }
}

@media only screen and (max-width: 767px){

    .developers-container h2{ 
        text-align: center;
        color: black;
        font-size: 30px;
        position: relative;
        margin-bottom: 8px;
        padding-bottom: 12px;
    }
    .developers-container h2::after{
        position: absolute;
        content: '';
        width: 50px;
        height: 3px;
        left: calc(50% - 30px);
        bottom: 0;
        background: red;
    }

    .developer{
        display: flex;
        display: block;
        margin: 30px 0;
        background: #153577;
        padding: 30px 0;
        color: white;
        font-size: 12px;
        transform: translateX(-200%);
        transition: all 1s;
    }

    .developer .avatar{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .developer .avatar img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: flex;
        align-items: center;
    }

    .developer .info{
        width: 100%;
        height: auto;
        padding: 20px 50px;
    }

    .developer .info h1{
        text-align: center;
        padding: 20px 0;
    }
    .developer .info ul li{
        line-height: 30px;
        font-size: 14px;
    }

    .developer .info p{
        line-height: 30px;
        font-size: 14px;
        font-style: italic;
    }

    .developer:nth-child(odd){       
        background-color: red;
    }

    .about-instakilogram{     
        height: auto;
        text-align: center;
        font-size: 18px;
        margin-top: 100px;
    }

    .about-instakilogram svg{
        padding: 20px 0;
    }

    .about-instakilogram h1{ 
        text-align: center;
        color: black;
        font-size: 30px;
        position: relative;
        margin-bottom: 8px;
        padding-bottom: 12px;
    }

    .about-instakilogram h1::after{
        position: absolute;
        content: '';
        width: 50px;
        height: 3px;
        left: calc(50% - 30px);
        bottom: 0;
        background: red;
    }

    .about-instakilogram p{     
        color: black;
        font-size: 14px;
        text-align: justify;
        padding: 10px 30px 30px 30px;
        line-height: 30px;
    }
}

@media only screen and (min-width:768px) and (max-width: 1023px){
    .developers-container{
        margin: 30px 0;
    }

    .developers-container h2{ 
        text-align: center;
        color: black;
        font-size: 40px;
        position: relative;
        margin-bottom: 8px;
        padding-bottom: 12px;
    }
    .developers-container h2::after{
        position: absolute;
        content: '';
        width: 50px;
        height: 3px;
        left: calc(50% - 30px);
        bottom: 0;
        background: red;
    }

    .developer{
        display: flex;
        margin: 30px 0;
        background: #153577;
        color: white;
        font-size: 12px;
        transform: translateX(-200%);
        transition: all 1s;
    }

    .developer .avatar{
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .developer .avatar img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        padding: 20px;
    }

    .developer .info{
        width: 100%;
        height: auto;
        padding: 20px 0 20px 50px;
    }

    .developer .info h1{
        text-align: left;
        padding: 10px 0;
    }

    .developer .info ul li{
        line-height: 30px;
        font-size: 14px;
    }

    .developer .info p{
        line-height: 30px;
        font-size: 14px;
        font-style: italic;
    }

    .developer:nth-child(odd){       
        background-color: red;
    }

    .about-instakilogram h1{ 
        text-align: center;
        color: black;
        font-size: 40px;
        position: relative;
        margin-bottom: 8px;
        padding-bottom: 12px;
    }

    .about-instakilogram h1::after{
        position: absolute;
        content: '';
        width: 50px;
        height: 3px;
        left: calc(50% - 30px);
        bottom: 0;
        background: red;
    }

    .about-instakilogram p{     
        color: black;
        font-size: 20px;
        text-align: left;
        padding: 10px 30px 30px 30px;
    }

    .about-instakilogram{     
        height: auto;
        padding: 20px; 
        text-align: center;
        font-size: 18px;
    }

    .about-instakilogram p{     
        padding: 20px 0;
        text-align: left;
        color: black;
        text-align: justify;
        line-height: 50px;
    }
}