.main-container{
    margin-top: 90px;
}

.user span{
    text-align: left;
    width: 100%;
    display: inline-block;
    padding: 0 50px;
}

.post-container{
    margin: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f0eef6;
    align-items: center;
}
.post{
    background-color: white;
    text-align: center;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px #e6e7e8;

}

.user h1{
    text-align: left;
    padding: 30px 50px;
    font-size: 20px;
}

.status p{
    text-align: left;
    padding: 20px 50px;
    font-size: 16px;
    padding: 20px 50px;
}
.image img{
    width: 100%;
    height: 500px;
    padding: 20px 50px;
}

.delete-button{
    text-align: right;
    margin: 10px 50px 20px 50px;
}

.delete-button button{
    width: 150px;
    height: 50px;
    background-color: red;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
}

.delete-button button:hover{
    opacity: 0.6;
    transition-duration: 0.5s;
}